@import '../config.style.scss';
body{
  width: 100%;
  height: auto;
  /*background: -webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);*/
  background: map-get($farm_theme, bg);
  font-family: "Robato",sans-serif;
  font-size: 17px;
}

#logreg-forms{
    width:412px;
    margin:10vh auto;
    background-color:#ffffff4d;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.12), 0 12px 40px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    form {
        width: 100%;
        max-width: 410px;
        padding: 15px;
        margin: auto;
    }
    .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
    .form-control { 
        &:focus {
            z-index: 2; 
            border-color: map-get($color, _dark_green);
        }
    }
    .form-signin {
        input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        input[type="password"] {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
    .form-signup {
        .social-login {
            width:210px !important;
            margin: 0 auto;
        }
    }
    .social-login{
        width:390px;
        margin:0 auto;
        margin-bottom: 14px;
    }
    .social-btn{
        font-weight: 100;
        color:white;
        width:190px;
        font-size: 0.9rem;
    }
    a{
        display: block;
        padding-top:10px;
        color:#3C589C;
    }
    .lines{
        width:200px;
        border:1px solid red;
    }
    button[type="submit"]{ 
        margin-top:10px; 
        background-color: map-get($farm_theme, btn);
    }
    .facebook-btn{  background-color:#3C589C; }
    
    .google-btn{ background-color: #DF4B3B; }
    
    .form-reset, .form-signup{ display: none; }
    
    .form-signup .social-btn{ width:210px; }
    
    .form-signup input { margin-bottom: 2px;}
}

.submit{
//   background: -webkit-linear-gradient(0deg,  map-get($color, _green) 0%, map-get($color, _teal) 100%);
    background-color: map-get($farm_theme, btn);
    border-radius: 25px;
    color: #fff;
}

#btn-signup {
    background-color: map-get($farm_theme, btn);
    // border: map-get($farm_theme, btn);
}

/* Mobile */

@media screen and (max-width:500px){
    #logreg-forms{
        width:300px;
    }

    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 100;
        color:white;
        width:200px;
        height: 56px;

    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }

    #logreg-forms  .google-btn:after{
        content:'Google+';
    }

}