$color: (
    _blue: #007bff,
    _indigo: #6610f2,
    _purple: #6f42c1,
    _pink: #e83e8c,
    _red: #dc3545,
    _orange: #fd7e14,
    _yellow: #ffc107,
    _green: #28a745,
    _dark_green: #409254,
    _teal: #20c997,
    _cyan: #17a2b8,
    _white: #fff,
    _gray: #6c757d,
    _gray_dark: #343a40,
    _primary: #007bff,
    _secondary: #6c757d,
    _success: #28a745,
    _info: #17a2b8,
    _warning: #ffc107,
    _danger: #dc3545,
    _light: #f8f9fa,
    _dark: #343a40
);

$farm_theme: (
    bg: map-get($color, _green),
    btn: map-get($color, _green)
);

.btn, .btn-primary {
    border: 1px solid map-get($color, _dark_green);
    background-color: map-get($color, _green);
    &:focus {
        box-shadow: 0 0 0 0.1rem lighten(map-get($color, _dark_green), 25%) !important;
    }
    &:active {
        box-shadow: 0 0 0 0.1rem lighten(map-get($color, _dark_green), 10%) !important;
    }
    &:hover, &:active {
        color: map-get($color, _gray_dark) !important;
        border-color: map-get($color, _dark_green) !important;
    }
}